<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-45">
          S'inscrire
        </span>

        <div class="wrap-input100 validate-input" data-validate="Nom est est un champ obligatoire">
          <input class="input100" type="text" name="nom">
          <span class="focus-input100"></span>
          <span class="label-input100">Nom</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Prénom est est un champ obligatoire">
          <input class="input100" type="text" name="prenom">
          <span class="focus-input100"></span>
          <span class="label-input100">Prénom</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Veuillez entrer une adresse E-mail valide">
          <input class="input100" type="email" name="email">
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Mot de passe est est un champ obligatoire">
          <input class="input100" type="password" name="pass">
          <span class="focus-input100"></span>
          <span class="label-input100">Mot de passe </span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Mot de passe est est un champ obligatoire">
          <input class="input100" type="password" name="conpass">
          <span class="focus-input100"></span>
          <span class="label-input100">Confirmer mot de passe</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Adresse est un champ obligatoire">
          <input class="input100" type="text" name="adresse">
          <span class="focus-input100"></span>
          <span class="label-input100">Adresse</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Date de naissance est un champ obligatoire">
          <input class="input100" type="text" name="dateNaiss">
          <span class="focus-input100"></span>
          <span class="label-input100">Date de naissance</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Sexe est un champ obligatoire">
        <input class="input100" type="text" name="dateNaiss">
        <span class="focus-input100"></span>
        <span class="label-input100">Sexe</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Veuillez inserer votre photo ">
          <span class="label-input100">Veuillez inserer votre photo</span>
          <input class="input100" type="file" name="dateNaiss">
          <span class="focus-input100"></span>

        </div>

        <div class="flex-sb-m w-full p-t-15 p-b-20">

          <div>
            <a routerLink="/authentication/signin" class="txt1">
              Vous avez déjà un compte?
            </a>
          </div>
        </div>


        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Register
          </button>
        </div>

        <div class="text-center p-t-45 p-b-20">
          <span class="txt2">
            or sign up using
          </span>
        </div>

        <div class="login100-form-social flex-c-m">
          <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('assets/images/pages/signup.svg');height: 720px; width: 750px ">
      </div>
    </div>
  </div>
</div>
