<div class="row clearfix">
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" >
          <div class="card">
            <div class="body">
              <aw-wizard #wizard  [navBarLayout]="'large-empty-symbols'" [ngSwitch]="role">
                <aw-wizard-step [stepTitle]="'Step 1'">
                  <ng-template awWizardStepSymbol><i class="fa fa-user-cog"></i></ng-template>
                  <div class="centered-content">
                    <div>
                      <form [formGroup]="nForm">
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input  class="form-control" placeholder="Email" formControlName="email" type="email" required name="email" [(ngModel)]="user.email">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input class="form-control" placeholder="Mot de passe" type="password" name="password" [(ngModel)]="user.password">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input type="password" class="form-control" name="conpass" placeholder="Confirmer mot de passe">
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="text-right">
                      <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                    </div>
                  </div>
                </aw-wizard-step>
                <aw-wizard-step [stepTitle]="'Step 2'">
                  <ng-template awWizardStepSymbol><i class="fa fa-user"></i></ng-template>
                  <div class="centered-content">
                    <div>
                      <form>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input type="text" name="nom" [(ngModel)]="user.nom" class="form-control"
                                   placeholder="Nom">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input type="text" name="prenom" [(ngModel)]="user.prenom" class="form-control"
                                   placeholder="Prenom">
                          </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-6 col-lg-3">
                          <div class="form-check form-check-radio">
                            <label>
                              <input name="sexe" type="radio" checked value="homme" [(ngModel)]="user.sexe"/>
                              <span>Homme</span>
                            </label>
                          </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                          <div class="form-check form-check-radio">
                            <label>
                              <input name="sexe" type="radio" value="femme"  [(ngModel)]="user.sexe"/>
                              <span>Femme</span>
                            </label>
                          </div>
                        </div>
                        </div>

                        <div class="form-group form-float">
                          <div class="form-line">
                            <input type="date" name="dateNaiss" [(ngModel)]="user.dateNaissance"  class="form-control"
                                   placeholder="Date de naissance">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input type="text" name="adresse" [(ngModel)]="user.adresse" class="form-control"
                                   placeholder="Adresse">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input type="number" name="telephone" [(ngModel)]="user.telephone" class="form-control"
                                   placeholder="Telephone">
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="text-right">
                      <button class="btn-hover btn-border-radius color-10"
                              awPreviousStep>Back</button>
                      <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                    </div>

                  </div>
                </aw-wizard-step>
                <aw-wizard-step [stepTitle]="'Step 3'">
                  <ng-template awWizardStepSymbol><i class="fa fa-users"></i></ng-template>
                  <div class="centered-content">
                    <div>
                      <form action="#">
                        <div>
                            <div class="col-sm-6 col-lg-3">
                              <div class="form-check form-check-radio">
                                <label>
                                  <input name="role" type="radio" checked value="ETUDIANT" (click)="changeRole('ETUDIANT')"/>
                                  <span>Etudiant</span>
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                              <div class="form-check form-check-radio">
                                <label>
                                  <input name="role" type="radio" value="PROF" (click)="changeRole('PROF')" />
                                  <span>Prof</span>
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                              <div class="form-check form-check-radio">
                                <label>
                                  <input name="role" type="radio" value="PARENT" (click)="changeRole('PARENT')" />
                                  <span>Parent</span>
                                </label>
                              </div>
                            </div>
                        </div>


                      </form>
                    </div>

                    <div class="text-right">
                      <button class="btn-hover btn-border-radius color-10"
                              awPreviousStep>Back</button>
                      <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                    </div>

                  </div>
                </aw-wizard-step>
                <aw-wizard-step *ngSwitchCase="'ETUDIANT'" [stepTitle]="'Step 4'">
                  <ng-template awWizardStepSymbol><i class="fa fa-user-graduate"></i></ng-template>
                  <div class="centered-content">
                    <div>
                      <form action="#">
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input type="text" name="niveau" [(ngModel)]="user.niveau"  class="form-control"
                                   placeholder="Niveau">
                          </div>
                        </div>
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input type="text" name="etablissement" [(ngModel)]="user.etablissement"  class="form-control"
                                   placeholder="Etablissement">
                          </div>
                        </div>

                      </form>
                    </div>

                    <div class="text-right">
                      <button class="btn-hover btn-border-radius color-10"
                              awPreviousStep>Back</button>
                      <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                    </div>
                  </div>
                </aw-wizard-step>
                  <aw-wizard-step *ngSwitchCase="'PARENT'" [stepTitle]="'Step 4'">
                    <ng-template awWizardStepSymbol><i class="fa fa-user-friends"></i></ng-template>
                    <div class="centered-content">
                      <div>
                        <form action="#">
                          <div class="form-group form-float">
                            <div class="form-line">
                              <input type="text" name="cin" [(ngModel)]="user.cin"  class="form-control"
                                     placeholder="CIN">
                            </div>
                          </div>

                        </form>
                      </div>

                      <div class="text-right">
                        <button class="btn-hover btn-border-radius color-10"
                                awPreviousStep>Back</button>
                        <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                      </div>
                    </div>
                  </aw-wizard-step>
                  <aw-wizard-step *ngSwitchCase="'PROF'" [stepTitle]="'Step 4'">
                    <ng-template awWizardStepSymbol><i class="fa fa-user-tie"></i></ng-template>
                    <div class="centered-content">
                      <div>
                        <form action="#">
                          <div class="form-group form-float">
                            <div class="form-line">
                              <input type="text" name="cin" [(ngModel)]="user.cin"  class="form-control"
                                     placeholder="CIN">
                            </div>
                          </div>
                          <div class="form-group form-float">
                            <div class="form-line">
                              <input type="text" name="code_tablette" [(ngModel)]="user.code_tablette"  class="form-control"
                                     placeholder="Code de la tablette">
                            </div>
                          </div>
                        </form>
                      </div>

                      <div class="text-right">
                        <button class="btn-hover btn-border-radius color-10"
                                awPreviousStep>Back</button>
                        <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                      </div>
                    </div>
                  </aw-wizard-step>


                <aw-wizard-step [stepTitle]="'Step 5'">
                  <ng-template awWizardStepSymbol><i class="fa fa-user-check"></i></ng-template>
                  <div class="centered-content">
                    <div>
                      <form action="#">
                        <p>
                          New the her nor case that lady paid read. Invitation friendship
                          travelling eat
                          everything
                          the out two. Shy you who scarcely expenses debating hastened resolved.
                          Always
                          polite
                          moment on is warmth spirit it to hearts. Downs those still witty an
                          balls so
                          chief
                          so. Moment an little remain no up lively no. Way brought may off our
                          regular
                          country
                          towards adapted cheered.
                        </p>
                        <p>
                          <label>
                            <input id="acceptTerms-2" name="acceptTerms" type="checkbox" (click)="valider()"/>
                            <span>I agree with the Terms and Conditions.</span>
                          </label>
                        </p>
                      </form>
                    </div>

                    <div class="text-right">
                      <button class="btn-hover btn-border-radius color-10"
                              awPreviousStep>Back</button>
                      <button class="btn-hover btn-border-radius color-5"  [ngClass]="{hide : !isValid()}"  (click)="register()">Finish</button>
                    </div>

                  </div>
                </aw-wizard-step>
              </aw-wizard>
            </div>
          </div>
        </div>
      </div>
