<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Form Wizard</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Forms</a>
                        </li>
                        <li class="breadcrumb-item active">Wizard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Basic Example | Horizontal Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Horizontal</strong> Layout</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
                            <aw-wizard-step [stepTitle]="'Step 1'">
                                <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form #f="ngForm">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="username"
                                                        id="username" placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" name="password"
                                                        id="password" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" name="confirm"
                                                        placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                                    </div>
                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step [stepTitle]="'Step 2'">
                                <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" name="name" class="form-control"
                                                        placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" name="surname" class="form-control"
                                                        placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="email" name="email" class="form-control"
                                                        placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="number" name="mobile" class="form-control"
                                                        placeholder="Mobile">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="number" name="age" class="form-control"
                                                        placeholder="Age">
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="text-right">
                                        <button class="btn-hover btn-border-radius color-10"
                                            awPreviousStep>Back</button>
                                        <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                                    </div>

                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step [stepTitle]="'Step 3'">
                                <ng-template awWizardStepSymbol><i class="fa fa-file"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form action="#">
                                            <p>New the her nor case that lady paid read. Invitation friendship
                                                travelling eat
                                                everything
                                                the out two. Shy you who scarcely expenses debating hastened resolved.
                                                Always
                                                polite
                                                moment on is warmth spirit it to hearts. Downs those still witty an
                                                balls so
                                                chief
                                                so. Moment an little remain no up lively no. Way brought may off our
                                                regular
                                                country
                                                towards adapted cheered.
                                            </p>
                                            <p>
                                                <label>
                                                    <input id="acceptTerms-2" name="acceptTerms" type="checkbox"/>
                                                    <span>I agree with the Terms and Conditions.</span>
                                                </label>
                                            </p>
                                        </form>
                                    </div>

                                    <div class="text-right">
                                        <button class="btn-hover btn-border-radius color-10"
                                            awPreviousStep>Back</button>
                                        <button class="btn-hover btn-border-radius color-5">Finish</button>
                                    </div>

                                </div>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Example | Horizontal Layout -->
        <!-- Basic Example | Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Verticle</strong> Layout</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'" [navBarLocation]="'left'">
                            <aw-wizard-step [stepTitle]="'Step 1'">
                                <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="username"
                                                        placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" name="password2"
                                                        id="password2" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" name="confirm"
                                                        placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="text-right">
                                        <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                                    </div>
                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step [stepTitle]="'Step 2'">
                                <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" name="name" class="form-control"
                                                        placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" name="surname" class="form-control"
                                                        placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="email" name="email" class="form-control"
                                                        placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="number" name="mobile" class="form-control"
                                                        placeholder="Mobile">
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="number" name="age" class="form-control"
                                                        placeholder="Age">
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="text-right">
                                        <button class="btn-hover btn-border-radius color-10"
                                            awPreviousStep>Back</button>
                                        <button class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                                    </div>

                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step [stepTitle]="'Step 3'">
                                <ng-template awWizardStepSymbol><i class="fa fa-file"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form action="#">
                                            <p>New the her nor case that lady paid read. Invitation friendship
                                                travelling eat
                                                everything
                                                the out two. Shy you who scarcely expenses debating hastened resolved.
                                                Always
                                                polite
                                                moment on is warmth spirit it to hearts. Downs those still witty an
                                                balls so
                                                chief
                                                so. Moment an little remain no up lively no. Way brought may off our
                                                regular
                                                country
                                                towards adapted cheered.
                                            </p>
                                            <p>
                                                <label>
                                                    <input id="acceptTerms-3" name="acceptTerms" type="checkbox"/>
                                                    <span>I agree with the Terms and Conditions.</span>
                                                </label>
                                            </p>
                                        </form>
                                    </div>

                                    <div class="text-right">
                                        <button class="btn-hover btn-border-radius color-10"
                                            awPreviousStep>Back</button>
                                        <button class="btn-hover btn-border-radius color-5">Finish</button>
                                    </div>

                                </div>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>