<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">La liste des Feedbacks</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Seances</a>
            </li>
            <li class="breadcrumb-item active">Feedbacks</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Liste des</strong> Feedbacks</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="container">
            <mat-form-field FloatLabel="auto" >
              <mat-label>Recherche</mat-label>
              <input matInput  (keyup)="applyFilter($event.target.value)" name="value" [(ngModel)]="value">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="OnSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="mat-elevation-z8">
            <table class="table" mat-table [dataSource]="dataSource"  matSort >

              <!-- Nom Column -->
              <ng-container matColumnDef="etudiant">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Etudiant</th>
                <td mat-cell *matCellDef="let row">{{row.etudiant.nom}} {{row.etudiant.prenom}} </td>
              </ng-container>

              <!-- email Column -->
              <ng-container matColumnDef="etudiant.email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
                <td mat-cell *matCellDef="let row">{{row.etudiant.email}}</td>
              </ng-container>


              <!-- Matiere Column -->
              <ng-container matColumnDef="seances.matiere">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Matière</th>
                <td mat-cell *matCellDef="let row">{{row.seances.matiere}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row (click)="selectRow(myTemplate, row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

          <ng-template #myTemplate>
            <h4 style="padding: 20px 30px; font-weight: normal; color: #5b626b; ">
              Feedback de <strong>{{rowEtudiant}}</strong>
            </h4>
            <div mat-dialog-content align="center">
              <h6 style="font-size:small; color: #5b626b;">Type</h6>
              <div style="font-size: medium">{{rowType}}</div>
              <h6 style="font-size: small; color: #5b626b;">Description</h6>
              <div style="font-size: medium">{{rowDescription}}</div>
              <div></div>
            </div>

            <mat-dialog-actions align="center">
              <button type="button" class="btn-hover btn-border-radius color-1">Contacter</button>
              <button type="button" class="btn-hover btn-border-radius color-10" mat-dialog-close>Fermer</button>
            </mat-dialog-actions>

          </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
