<section class="content">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">

          <div>

            <div _ngcontent-wfw-c14="" class="body">
              <div _ngcontent-wfw-c14="" class="table-responsive">
                <div id="tableExport_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="dt-buttons">
                    <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="tableExport" type="button">
                      <span>Copy</span>
                    </button> <button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="tableExport" type="button">
                    <span>CSV</span>
                  </button>
                    <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="tableExport" type="button">
                      <span>Excel</span>
                    </button>
                    <button class="dt-button buttons-pdf buttons-html5 processing" tabindex="0" aria-controls="tableExport" type="button">
                      <span>PDF</span>
                    </button> <button class="dt-button buttons-print" tabindex="0" aria-controls="tableExport" type="button">
                    <span>Print</span>
                  </button>
                  </div>
                  <div id="tableExport_filter" class="dataTables_filter">
                    <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="tableExport"></label>
                  </div>
                  <br><br>
                  <br><br>


                  <table _ngcontent-wfw-c14="" class="display table table-hover table-checkable order-column m-t-20 width-per-100 dataTable" id="tableExport" role="grid" aria-describedby="tableExport_info">
                    <thead _ngcontent-wfw-c14="">
                    <tr _ngcontent-wfw-c14="" role="row">
                      <th _ngcontent-wfw-c14="" class="sorting_asc" tabindex="0" aria-controls="tableExport" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 70px;">Nom</th>
                      <th _ngcontent-wfw-c14="" class="sorting" tabindex="0" aria-controls="tableExport" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 80px;">Prénom</th>
                      <th _ngcontent-wfw-c14="" class="sorting" tabindex="0" aria-controls="tableExport" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150px;">E-mail</th>
                      <th _ngcontent-wfw-c14="" class="sorting" tabindex="0" aria-controls="tableExport" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 175px;">Date</th>
                      <th _ngcontent-wfw-c14="" class="sorting" tabindex="0" aria-controls="tableExport" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 250px;">Description</th>
                      <th _ngcontent-wfw-c14="" class="sorting" tabindex="0" aria-controls="tableExport" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 80px;">Type</th></tr>

                    </thead>
                    <tbody _ngcontent-wfw-c14="">
                    <tr _ngcontent-wfw-c14="" role="row" class="odd" *ngFor="let a of list">
                      <td _ngcontent-wfw-c14="">{{a.user.nom}}</td>
                      <td _ngcontent-wfw-c14="">{{a.user.prenom}}</td>
                      <td _ngcontent-wfw-c14="">{{a.user.email}}</td>
                      <td _ngcontent-wfw-c14="" class="sorting_1">{{a.date | date: 'yyyy-MM-dd \'  à \' h:mma  '}}</td>
                      <td _ngcontent-wfw-c14="">{{a.description}}</td>
                      <td _ngcontent-wfw-c14="">{{a.type}}</td>

                    </tbody>

                  </table>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>  <br>
                  <br>
                  <br>
                  <br>
                  <br>




                  <div class="dataTables_paginate paging_simple_numbers" id="tableExport_paginate">
                    <ul class="pagination">

                      <li class="paginate_button page-item previous disabled" id="tableExport_previous">
                        <a href="#" aria-controls="tableExport" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                      </li>

                      <li class="paginate_button page-item active"><a href="#" aria-controls="tableExport" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="tableExport" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="tableExport" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="tableExport" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="tableExport" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="tableExport" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                      <li class="paginate_button page-item next" id="tableExport_next">
                        <a href="#" aria-controls="tableExport" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</section>
