<section class="content">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">

          <form class="login100-form validate-form">
            <div class="wrap-input100 validate-input" data-validate="Nom est est un champ obligatoire">
              <input class="input100" type="text" name="nom" [(ngModel)]="reclamation.description">
              <span class="focus-input100"></span>
              <span class="label-input100">Description</span>
            </div>

            <div>
            <mat-form-field>
              <mat-label>Toppings</mat-label>
              <mat-select [formControl]="toppings" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <button (click)="ajouterReclamation()">Ajouter</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
