/*
 *  Document   : _modals.scss
 *  Author     : RedStar Template
 *  Description: This scss file for modals style classes
 */
.modal {
	background-color: rgba(238, 238, 238, 0.41);
	//padding: 100px 0 0;
	max-height: 100%;
	width: 100%;
    .modal-header {
        border: none;
        padding: 10px;

        .modal-title {
            font-weight: bold;
            font-size: 16px;
        }
    }

    .modal-content {
        @include border-radius(0);
        box-shadow: 0 5px 20px rgba(0,0,0,.31) !important;
        border: none;
        padding: 10px;

        .modal-body {
            color: #777;
            padding: 15px 25px;
        }
    }

    .modal-footer {
        border: none;
        background-color: transparent;
        .btn{
        	margin: 10px;
        }
    }
}

@each $key, $val in $colors {
    .modal-col-#{$key} {
        background-color: $val;

        .modal-body,
        .modal-title {
            color: #fff !important;
        }

        .modal-footer {
            background-color: rgba(0,0,0,0.12);

            .btn-link {
                color: #fff !important;

                &:hover,
                &:active,
                &:focus {
                    background-color: rgba(0,0,0,0.12);
                }
            }
        }
    }
}
