<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Profile</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card body">

          <div class="contact-usertitle">
            <div class="contact-usertitle-name"> {{profil.nom}} {{profil.prenom}}</div>
          </div>
          <div class="row">
            <div class="contact-photo">
              <img src="assets/images/upload/uploadUser/{{profil.photo}}" class="img-circle user-img-circle"
                   alt="User Image" style="width: 118px;height: 83px;"> </div>
          </div>
          <div class="contact-usertitle">
            <div class="contact-usertitle-job"> {{profil.diplome}} </div>
          </div>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                Email
              <a class="pull-right">{{profil.email}}</a>
            </li>
            <li class="list-group-item">
              Numéro
              <a class="pull-right">{{profil.telephone}}</a>
            </li>
            <li class="list-group-item" *ngIf="profil.role==='Prof'">
              Nombre de groupe
              <a class="pull-right"></a>
            </li>

          </ul>
          <div class="newLabelBtn">
            <button type="button" class="btn btn-border-radius bg-purple waves-effect">New Label</button>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-12">
        <div class="card">

          <div class="body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
              <li role="presentation">
                <a href="#home" data-toggle="tab" class="active show"><i class="fa fa-user"></i> A propos</a>
              </li>
              <li role="presentation">
                <a href="#profile" data-toggle="tab"><i class="fa fa-users"></i> Amis</a>
              </li>
              <li role="presentation" *ngIf="profil.role==='Prof'">
                <a href="#messages" data-toggle="tab"><i class="fa fa-comment-alt"></i> Avis</a>
              </li>
              <li role="presentation">
                <a href="#calendar" data-toggle="tab"><i class="fa fa-calendar-alt"></i> Emplois du temps</a>
              </li>
              <li role="presentation" >
                <a href="#setting" data-toggle="tab" ><i class="fa fa-cogs"></i> Paramètres</a>
              </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active show" id="home">
                <div class="row">
                  <div class="col-md-3 col-6 b-r">
                    <strong>Nom et prénom</strong>
                    <br>
                    <p class="text-muted">{{profil.nom}} {{profil.prenom}}</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Numéro de télèphone</strong>
                    <br>
                    <p class="text-muted">(+216){{profil.telephone}}</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Email</strong>
                    <br>
                    <p class="text-muted">{{profil.email}}</p>
                  </div>
                  <div class="col-md-3 col-6">
                    <strong>Adresse</strong>
                    <br>
                    <p class="text-muted">{{profil.adresse}}</p>
                  </div>
                  <div class="col-md-10 col-6">
                    <strong>Biographie</strong>
                    <br>
                    <p class="text-muted">{{profil.bio}}</p>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="profile">
                <div class="container">
                  <mat-form-field FloatLabel="auto" >
                    <mat-label>Recherche</mat-label>
                    <input matInput  (keyup)="applyFilter($event.target.value)" name="value" [(ngModel)]="value">
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="OnSearchClear()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>

                <div class="mat-elevation-z8">
                  <table class="table" mat-table [dataSource]="dataSource"  matSort >

                    <!-- image Column -->
                    <ng-container matColumnDef="image">
                      <th mat-header-cell *matHeaderCellDef >Image</th>
                      <td mat-cell *matCellDef="let row" style="width: 50px"> <img [src]="'assets/images/upload/uploadUser/'+row.photo" /> </td>
                    </ng-container>

                    <!-- full name Column -->
                    <ng-container matColumnDef="friend">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom complet</th>
                      <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
                    </ng-container>

                    <!-- phone Column -->
                    <ng-container matColumnDef="telephone">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</th>
                      <td mat-cell *matCellDef="let row">{{row.telephone}}</td>
                    </ng-container>
                    <!-- email Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                      <td mat-cell *matCellDef="let row">{{row.email}}</td>
                    </ng-container>
                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                      <td mat-cell *matCellDef="let row">
                        <button mat-icon-button matTooltip="Bloquer" class="iconbutton" color="primary">
                          <mat-icon aria-label="Edit">block</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Supprimer" class="iconbutton" color="warn">
                          <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="messages">
                <b>Message Content</b>
                <p>
                  Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit
                  mediocritatem an. Pri ut tation electram moderatius.
                  Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent
                  aliquid
                  pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere
                  gubergren
                  sadipscing mel.
                </p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="calendar">
                <full-calendar

                  [plugins]="options.plugins"

                  [header]="options.header"
                  [editable]="true"
                  defaultView="dayGridMonth"
                  [weekends]="true">

                </full-calendar>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="setting">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                  <li role="presentation">
                    <a href="#generale" data-toggle="tab" class="active show">Générale</a>
                  </li>
                  <li role="presentation">
                    <a href="#securite" data-toggle="tab" >Sécurité</a>
                  </li>
                  </ul>
                <div role="tabpanel" class="tab-pane fade" id="generale">
                <b>Paramètres du compte</b>
                </div>
                <div class="body">
                  <div class="form-group">
                    <input type="text" class="form-control" value="{{profil.email}}" placeholder="Email" [(ngModel)]="profil.email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mot de passe">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Nouveau mot de passe">
                  </div>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input type="text" name="nom" value="{{profil.nom}}" class="form-control"
                             placeholder="Nom" [(ngModel)]="profil.nom" >
                    </div>
                  </div>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input type="text" name="nom" value="{{profil.bio}}" class="form-control"
                             placeholder="Nom" [(ngModel)]="profil.bio" >
                    </div>
                  </div>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input type="text" name="prenom" value="{{profil.prenom}}" class="form-control"
                             placeholder="Prenom" [(ngModel)]="profil.prenom">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">
                      <div class="form-check form-check-radio">
                        <label>
                          <input name="sexe" type="radio"  value="homme"  [(ngModel)]="profil.sexe"/>
                          <span>Homme</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                      <div class="form-check form-check-radio">
                        <label>
                          <input name="sexe" type="radio" value="femme" [(ngModel)]="profil.sexe" />
                          <span>Femme</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group form-float">
                    <div class="form-line">
                      <input type="date" name="dateNaiss" value="{{profil.dateNaissance}}"  class="form-control"
                             placeholder="Date de naissance" [(ngModel)]="profil.dateNaissance">
                    </div>
                  </div>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input type="text" name="adresse" value="{{profil.adresse}}" class="form-control"
                             placeholder="Adresse" [(ngModel)]="profil.adresse">
                    </div>
                  </div>
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input type="number" name="telephone" value="{{profil.telephone}}" class="form-control"
                             placeholder="Telephone" [(ngModel)]="profil.telephone">
                    </div>
                  </div>
                  <button  type="button" (click)="updateProfilProf()" class="btn btn-info btn-round">Save Changes</button>


              </div>
            </div>
              <div role="tabpanel" class="tab-pane fade" id="securite">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                  <li role="presentation">
                    <a href="#generale" data-toggle="tab" >Générale</a>
                  </li>
                  <li role="presentation">
                    <a href="#securite" data-toggle="tab" class="active show">Sécurité</a>
                  </li>
                </ul>
                <b>Paramètres du compte</b>
                <div class="body">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mot de passe">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Nouveau mot de passe">
                  </div>

                </div>

              </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>
</section>
