<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">La liste des ressources</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Acceuil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Ressources</a>
            </li>
            <li class="breadcrumb-item active">Liste</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Exportable Table -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2 style="padding-left: 400px">
              <strong>Liste</strong> des Ressources</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>


                </ul>
              </li>
            </ul>
          </div>


          <div class="body">
            <div class="table-responsive">
              <table id="tableExport"
                     class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                <thead>

                <br>
                <br>



                <tr>
                  <th>Nom de la ressource</th>
                  <th>Séance</th>
                   </tr>
                </thead>
                <tbody>


                <tr data-toggle="modal" data-target="#exampleModal"  *ngFor="let a of listRessources">
                  <td>
                     {{a.nom}}
                  </td>
                  <td>
                  {{a.seance}}</td>
                </tr>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="formModal" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" style="padding-left: 150px" id="formModal">Image de la ressource </h5><br><br>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"  *ngFor="let a of listRessources">
                        <img _ngcontent-xte-c0=""  src="{{a.path}}">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-hover btn-border-radius color-4"

                                data-dismiss="modal">Cancel</button>

                      </div>

                    </div>
                  </div>
                </div>

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Exportable Table -->
  </div>
</section>

