<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            {{seance.titre}}
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Notice</strong> Board</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="recent-comment">
              <div class="notice-board">
                <div class="table-img">
                  <img class="notice-object" src="assets/images/user/user6.jpg" alt="...">
                </div>
                <div class="notice-body">
                  <h5 class="notice-heading col-green">Airi Satou</h5>
                  <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                  <small class="text-muted">7 hours ago</small>
                </div>
              </div>
              <div class="notice-board">
                <div class="table-img">
                  <img class="notice-object" src="assets/images/user/user4.jpg" alt="...">
                </div>
                <div class="notice-body">
                  <h5 class="notice-heading color-primary col-indigo">Sarah Smith</h5>
                  <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                  <p class="comment-date">1 hour ago</p>
                </div>
              </div>
              <div class="notice-board">
                <div class="table-img">
                  <img class="notice-object" src="assets/images/user/user3.jpg" alt="...">
                </div>
                <div class="notice-body">
                  <h5 class="notice-heading color-danger col-cyan">Cara Stevens</h5>
                  <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                  <div class="comment-date">Yesterday</div>
                </div>
              </div>
              <div class="notice-board no-border">
                <div class="table-img">
                  <img class="notice-object" src="assets/images/user/user7.jpg" alt="...">
                </div>
                <div class="notice-body">
                  <h5 class="notice-heading color-info col-orange">Ashton Cox</h5>
                  <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                  <div class="comment-date">Yesterday</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
