/*
 *  Document   : dark.scss
 *  Author     : RedStar Template
 *  Description: This scss file for dark theme style classes
 */
.dark {
    background-color: #3c4452;
    color: #919aa3;
    padding-top: 1px;

    body,
    html {
        background-color: #3c4452;
    }

    .dark-font-col {
        color: #919aa3;
    }

    .card {
        background: #353c48;
        .body{
            color: #919aa3;
        }
        .header{
            h2{
                color: #919aa3;
            }
        }
    }
    .plain-card{
        background: #353c48;
    }

    .people-list {

        .chat-list {
            li {
                &:hover {
                    background: #3f4650;
                    cursor: pointer;
                }

                &.active {
                    background: #262b33;
                }

            }

        }

    }

    .chat {
        .chat-history {
            .message-data-time {
                color: #919aa3;
            }
        }

    }

    .contact-usertitle-name {
        color: #fff;
    }

    .demo-skin {
        color: #eaeaea;

        .form-check-label {
            color: #eaeaea;
        }
    }

    .demo-settings {
        color: #eaeaea;
    }

    .block-header {
        padding-bottom: 0px;

        h2 {
            color: #919aa3 !important;

        }
    }

    .select-wrapper {
        input.select-dropdown {
            color: #fff;
        }
    }

    .breadcrumb {
        li {
            &.active {
                color: #919aa3;
            }
        }

    }

    .dropzone {
        border: 1px solid #afacac !important;
        background-color: #353c48 !important;
    }

    .sl-item {
        .sl-content {
            p {
                color: #919aa3;
            }
        }
    }

    .info-box5 {
        background-color: #353c48;
    }

    .form-check {
        color: #919aa3;
    }

    label {
        color: #919aa3;
    }

    .input-group {
        .input-group-addon {
            .material-icons {
                color: #919aa3;
            }
        }

        input[type="text"],
        .form-control {
            color: #919aa3;
        }
    }

    .form-group {
        .form-control {
            color: #919aa3;
            background: #353c48;
        }

        input.form-control {
            color: #919aa3;
        }
    }

    .form-check {
        .form-check-sign {
            .check {
                border: 1px solid #919aa3;
            }
        }
    }

    .right-sidebar {
        background: #333B49;
    }

   

    .ms-container {

        .ms-selectable,
        .ms-selection {
            li.ms-hover {
                color: #919aa3 !important;
                background-color: #46484e !important;
            }
        }
    }

    .nav-tabs {
        li {
            a.active {
                color: #fff !important;
            }
        }

    }

    .bootstrap-tagsinput {
        background-color: #343840 !important;
    }

    .to-do-list {
        li {
            background: #353c48;
        }
    }

    #mail-nav {
        li {
            a {
                color: #919aa3;
            }
        }
    }

    .max-texts {
        a {
            color: #919aa3;
        }
    }

    .pricingTable {
        background: #0c0c0c;

        .pricingTable-header {
            background: #36373c;
        }
    }

    .profile-tab-box {
        background: #353c48;
    }

    .cd-timeline-content {
        background: #515b6d;
    }

    .cd-timeline-content h2 {
        color: #919aa3;
    }

    .chart-note {
        color: #919aa3;

    }

    .chart-statis {
        .index {
            color: #919aa3;
        }
    }

    .dataTables_wrapper {
        input[type="search"] {
            color: #919aa3;
        }
    }

    .page-item.disabled .page-link {
        color: #919aa3;
        pointer-events: none;
        cursor: auto;
        background-color: #353c48;
    }

    .table {
        tbody {
            tr {
				color: #919aa3 ;
                td,
                th {
                    border-top: 1px solid rgba(120, 130, 140, 0.5);
                    border-bottom: 1px solid rgba(120, 130, 140, 0.5);

                }
            }

        }

        thead {
            tr {
            	color: #919aa3 ;
                th {
                    border-bottom: 1px solid rgba(120, 130, 140, 0.5);
                    border-top: 1px solid rgba(120, 130, 140, 0.5);
                }
            }
        }
    }

    .table-bordered {
        border: 1px solid rgba(120, 130, 140, 0.5);
        tbody {
            tr {
                td,
                th {
                    border: 1px solid rgba(120, 130, 140, 0.5);
                }
            }
        }

        thead {
            tr {
                th {
                    border: 1px solid rgba(120, 130, 140, 0.5);
                }
            }
        }
        th{
            border: 1px solid rgba(120, 130, 140, 0.5);
            color: #919aa3;
        }
    }

    tr.group,
    tr.group:hover {
        background-color: #282d35 !important;
    }
    .table,
    .tableBody {
        color: #919aa3;
    }
    .table-hover tbody tr:hover{
        color: #919aa3;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.25);
    }

    $theme-black: #353c48;
    .card .header h2 strong {
        color: #919aa3 !important;
    }
    .breadcrumb{ 
    .page-title{
    	color: #a5abb1;
    }
    li a {
        color: #5783c7 !important;
        .fa-home{
        	color: #a5abb1;
        }
    }
    }
    .counter-box,
    .box-part{
    	background: #353c48 !important;
    	color: #919aa3;
    }
    .tblActnBtn i{
    	color: #919aa3;
    }
    .chat .chat-history {
	.other-message {
		background: #3b4453;
		&:after {
			border-bottom-color: #3b4454;
		}
	}
	.message {
		color: #919aa3;
	}
	.my-message {
		background: #343840;
		&:after {
			border-bottom-color: #343840;
		}
	}
	}
	.taskbar .card-footer {
    	background: #353c48 !important;
	}
	.move {
	    background: #353c48;
	}
	.board{
		    background-color: #353a46;
		    .drop-card{
		    	background-color: #404754;
		    }
	}
	.list-group-item{
		background: #353c48;
	}
	.product-grid .product-content {
    	background-color: #3b4453;
    }
    .ibox-title,
    .ibox-content{
    	background: #353c48;
    	border-color: #6c757d;
    }
    .collapsible-header{
    	background: #353c48;
    }
    .card .card-inside-title{
    	color: #919aa3;
    }
    .left-timeline > li {
	&:nth-child(odd) {
		.left-label {
			background: #202529;
			&:after {
				border-right-color: #202428;
			}
		}
		.left-time span:last-child {
			color: #eee;
		}
	}
	.left-label {
		background: #303438;
		p {
			color: #919aa3;
		}
		&:after {
			border-right-color: #303438;
		}
	}
	.empty span {
		color: #919aa3;
	}
	.left-time span {
		&:first-child {
			color: #919aa3;
		}
		&:last-child {
			color: #eae9e9;
		}
	}
}
		.font-icon .icon-preview i{
			color: #919aa3;
		}
		.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
			background-color : transparent;
		}
		.panel-group {
			.panel-primary .panel-title a {
				color: #919aa3;
				background: #32363c;
			}
			.panel .panel-body {
				color: #919aa3;
			}
		}
		.btn-outline-primary {
		    color: #919aa3 !important;
		    border: 1px solid #919aa3 !important;
}
.chip{
    background-color: #31353a;
    color: #919aa3;
}
.dropdown-content{
    background-color: #31353a;
    li>span{
        color: #919aa3;
    }
}
}