


<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">La liste des Quiz</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Seances</a>
            </li>
            <li class="breadcrumb-item active">Quiz</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Liste des</strong> Quiz</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div>

            <div class="search-div">
              <mat-form-field class="search-form-field" >
                <input matInput name="value" class="toolbar-search" placeholder="chercher.." type="text" autocomplete="off" [(ngModel)]="value">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="value" (click)="onSearchClear()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <!-- Modal d'ajout d'un Quiz : exampleModal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                   aria-labelledby="formModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" style="padding-left: 150px" id="formModal">Créer un Quiz </h5><br><br>
                      <button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <label>Nom</label>
                        <div class="form-group">
                          <div class="form-line">
                            <input type="text" name="type_reclamation" class="form-control"
                                   placeholder="Entrer le nom du Quiz" [(ngModel)]="quiz.nomQuiz" id="yamli">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-hover btn-border-radius color-4" data-dismiss="modal">Annuler</button>
                          <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal1" (click)="addQuiz(quiz)" class="btn-hover btn-border-radius color-1"><i class="fa fa-plus"></i></button>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <!-- Fin div de modal d'ajout d'un Quiz -->
              <button type="button" class="btn-hover btn-border-radius color-8 " data-toggle="modal"
                      data-target="#exampleModal"><i class="fa fa-plus"></i>  Quiz</button>
              <!-- Modal d'ajout d'une question : exampleModal -->
              <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                   aria-labelledby="formModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" style="padding-left: 150px" id="formModal1">Ajouter une question </h5><br><br>
                      <button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <label>Nom</label>
                        <div class="form-group">
                          <div class="form-line">
                            <input type="text" name="type_reclamation" class="form-control"
                                   placeholder="Entrer une question" [(ngModel)]="question.question" id="yamli1">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-hover btn-border-radius color-4" data-dismiss="modal">Annuler</button>
                          <button type="button" data-dismiss="modal" data-toggle="modal"
                                  data-target="#exampleModal2"(click)="addQuestion(question, quizadded.id)" class="btn-hover btn-border-radius color-1"><i class="fa fa-plus"></i></button>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <!-- Fin div de modal d'ajout d'une question -->
              <!-- Modal d'ajout d'un Propositon : exampleModal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                   aria-labelledby="formModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" style="padding-left: 150px" id="formModal2">Ajouter une proposition </h5><br><br>
                      <button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-header">
                      <p style="padding-left: 150px" id="formModal21"> Question: {{question.question}} </p><br><br>
                    </div>
                    <div class="modal-body">
                      <form>
                        <label>Nom</label>
                        <div class="form-group">
                          <div class="form-line">
                            <input type="text" name="type_reclamation" class="form-control"
                                   placeholder="Entrer une proposition" [(ngModel)]="proposition.nom" id="yamli2">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal1" class="btn-hover btn-border-radius color-4"><i class="fa fa-plus"></i> question</button>
                          <button type="button" (click)="addProposition(proposition, questionadded.id)" class="btn-hover btn-border-radius color-1"><i class="fa fa-plus"></i></button>
                          <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal3"  class="btn-hover btn-border-radius color-1"><i class="fa fa-plus"></i> Bonne réponses</button>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <!-- Fin div de modal d'ajout d'un Proposition -->
              <!-- Modal d'ajout d'une Bonne Réponse : exampleModal -->
              <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
                   aria-labelledby="formModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" style="padding-left: 150px" id="formModal3">Ajouter une bonne réponse </h5><br><br>
                      <button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-header">
                      <p style="padding-left: 150px" id="formModal23"> Question: {{question.question}} </p><br><br>
                    </div>
                    <div class="modal-body">
                      <form>
                        <label>Nom</label>
                        <div class="form-group">
                          <div class="form-line">
                            <input type="text" name="type_reclamation" class="form-control"
                                   placeholder="Entrer une bonne réponse" [(ngModel)]="br.nom" id="yamli3">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal1" class="btn-hover btn-border-radius color-4"><i class="fa fa-plus"></i> question</button>
                          <button type="button" (click)="addBR(br, questionadded.id)" class="btn-hover btn-border-radius color-1"><i class="fa fa-plus"></i></button>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <!-- Fin div de modal d'ajout d'une Bonne Proposition -->
            </div>

            <table mat-table class="full-width-table mat-elevation-z8" matSort aria-label="Elements" [dataSource]="dataSource.data">


              <!-- Nom Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>id </th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
              </ng-container>

              <!-- Prenom Column -->
              <ng-container matColumnDef="nomQuiz">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>nom quiz</th>
                <td mat-cell *matCellDef="let row">{{row.nomQuiz}}</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator

                           [length]="100"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
            </mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
