<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Liste des mes réclamations</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Acceuil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Réclamations</a>
            </li>
            <li class="breadcrumb-item active">Lister</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header" style="display: flex; align-items: center; align-content: revert">
          <h2>
            <strong>Liste de mes réclamations</strong>
          </h2>

          <app-ajouter-reclamation></app-ajouter-reclamation>


        </div>

        <div class="body">
          <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block" *ngFor="let a of list">
              <div class="cd-timeline-img cd-picture">
                <img  alt="">
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content">
                <h5>Etat :
                <i *ngIf="a.etat" _ngcontent-oah-c9="" style="color:#0ba360;align-items: flex-start"  class="fas fa-check"> Traitée</i>
                  <i *ngIf="!a.etat" _ngcontent-ygh-c15=""  style="color: darkred;" class="far fa-times-circle"> Non traitée</i>
                </h5>
                 <p class="timelineLabelColor">
                   <strong>Type :</strong> {{a.type}} </p>

                <p> {{a.description}}</p>

                <span class="cd-date">{{a.date | date: 'yyyy-MM-dd \'  à \' h:mma  '}}</span>
              </div>
              <!-- cd-timeline-content -->
            </div>
            <!--
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-movie">
                <img src="assets/images/user/user2.jpg" alt="User">
              </div>
               <div class="cd-timeline-content">
                <h2 class="timelineLabelColor">
                  <strong>New Message</strong> From Priyanka</h2>
                <p>Hiii... Please share your location.</p>
              </div>
             </div>
        -->

          </section>
          <!-- cd-timeline -->
        </div>
      </div>
    </div>
  </div>
</section>


