<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Portfolio</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Apps</a>
            </li>
            <li class="breadcrumb-item active">Portfolio</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="bootstrap snippet">
              <section id="portfolio" class="gray-bg padding-top-bottom">
                <!--==== Portfolio Filters ====-->
                <div class="search-hero">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche par titre , description ,matiere ou niveau ">
                </div>
                <div class="categories">
                  <ul>
                    <li class="active">
                      <a data-filter="*">Tous les matières</a>
                    </li>
                    <li>
                      <a data-filter=".Informatique">Informatique</a>
                    </li>
                    <li>
                      <a data-filter=".Chimie">Chimie</a>
                    </li>
                    <li>
                      <a data-filter=".Physique">Physique</a>
                    </li>
                    <li>
                      <a data-filter=".Mathematiques">Mathematiques</a>
                    </li>
                    <li>
                      <a data-filter=".Arabe">Arabe</a>
                    </li>
                    <li>
                      <a data-filter=".Francais">Francais</a>
                    </li>
                    <li>
                      <a data-filter=".Anglais">Anglais</a>
                    </li>
                  </ul>
                </div>
                <!-- ======= Portfolio items ===-->
                <div class="projects-container scrollimation in">
                  <div class="row">
                    <article *ngFor="let seance of listeSeance | filter:searchText" class="col-md-4 col-sm-6 portfolio-item {{seance.matiere}}">
                      <div class="portfolio-thumb in" style="box-shadow: 0 2px 8px rgba(202, 200, 200, 0.85)">
                        <a [routerLink]="['/prof/seance/details', seance.id]" class="main-link">
                          <img class="img-responsive img-center"
                               src="assets/images/posts/post4.jpg" alt="">
                          <span class="project-title">{{seance.matiere}}</span>
                          <span class="overlay-mask" style="background-color: #0000009e">
                           </span>
                        </a>
                        <a class="link centered" [routerLink]="['/prof/seance/details', seance.id]" ><i class="fa fa-eye fa-fw"></i></a>
                      </div>
                      <br>
                      <!-- details -->
                      <div class="info-box5 animate-bar bg-b-purple">
                        <div class="knob-icon">
                          <td class="table-img">
                            <img src="assets/images/user/user6.jpg" alt="">
                          </td>
                        </div>
                        <div class="info-box-content">
                          <h6 class="text-muted">{{seance.titre}}</h6>
                          <!--<span class="info-box-text p-b-10">{{seance.titre}}</span>-->
                          <span class="progress-description">
                                <small>Prof :{{seance.prof.prenom}} {{seance.prof.nom}}</small>
                            </span>
                          <div class="progress m-t-20">
                            <div class="progress-bar l-bg-cyan shadow-style width-per-100" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- end details -->
                    </article>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Browser Usage -->
    </div>
  </div>
</section>
