<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let seance of listeSeance">
        <div class="box-part text-center">
          <i class="fab fa-twitter fa-3x col-blue"></i>
          <div class="title p-t-15">
            <h3>{{seance.matiere}}</h3>
          </div>
          <div class="text p-b-10">
            <p>{{seance.date_debut | date: 'yyyy-MM-dd'}}</p>
                        <span>Lorem ipsum dolor sit amet, id quo eruditi
                            eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
                            ad.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Portfolio</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Apps</a>
            </li>
            <li class="breadcrumb-item active">Portfolio</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="bootstrap snippet">
              <section id="portfolio" class="gray-bg padding-top-bottom">
                <!--==== Portfolio Filters ====-->
                <div class="categories">
                  <ul>
                    <li class="active">
                      <a data-filter="*">All Categories</a>
                    </li>
                    <li>
                      <a data-filter=".web-design">Web Design</a>
                    </li>
                    <li>
                      <a data-filter=".apps">Apps</a>
                    </li>
                    <li>
                      <a data-filter=".psd">PSD</a>
                    </li>
                  </ul>
                </div>
                <!-- ======= Portfolio items ===-->
                <div class="projects-container scrollimation in">
                  <div class="row">
                    <article class="col-md-4 col-sm-6 portfolio-item web-design" *ngFor="let seance of listeSeance">
                      <div class="portfolio-thumb in">
                        <a [routerLink]="['/prof/seance/details', seance.id]" class="main-link">
                          <img class="img-responsive img-center"
                               src="assets/images/posts/post4.jpg" alt="">
                          <span class="project-title">{{seance.matiere}}</span>
                          <span class="overlay-mask">{{seance.id}}</span>
                        </a>
                        <a class="link centered" href=""><i class="fa fa-eye fa-fw"></i></a>
                      </div>
                    </article>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Browser Usage -->
    </div>
  </div>
</section>
