<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-45">
          Page d'acceuil ....
        </span>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" >
            <a routerLink="/authentication/signup" class="txt1">
              Créer un compte
            </a>
          </button>
        </div>

        <div>
          <a routerLink="/authentication/signin" class="txt1">
            Vous avez déjà un compte?
          </a>
        </div>

        <div class="text-center p-t-45 p-b-20">
          <span class="txt2">
            or sign up using
          </span>
        </div>

        <div class="login100-form-social flex-c-m">
          <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
