<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Exporter liste des réclamations non traitées</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Acceuil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Réclamations</a>
            </li>
            <li class="breadcrumb-item active">Liste</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Exportable Table -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2 style="padding-left: 400px">
              <strong>Liste</strong> des réclamations non traitées</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>


                </ul>
              </li>
            </ul>
          </div>


          <div class="body">
            <div class="table-responsive">
              <table id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                <thead>

                <br>
                <br>



                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>E-mail</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Type</th>
                </tr>
                </thead>
                <tbody>

                <tr data-toggle="modal" data-target="#exampleModal" *ngFor="let a of list" [attr.data-target]="'#exampleModal' + a.id" >
                  <td>{{a.user.nom}}</td>
                  <td>{{a.user.prenom}}</td>
                  <td>{{a.user.email}}</td>
                  <td>{{a.date | date: 'yyyy-MM-dd \'  à \' h:mma  '}}</td>
                  <td>{{a.description}}</td>
                  <td>{{a.type}}</td>
                  <td><i _ngcontent-ygh-c15=""  style="color: darkred;" class="far fa-times-circle"></i></td>



                  <div class="modal fade" [id]="'exampleModal' + a.id" tabindex="-1" role="dialog"
                       aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content" style="border-radius: 1.3rem;">
                        <div class="modal-header">
                          <h5 class="modal-title" style="padding-left: 150px;color: #ffc107" id="formModall">Détails de la réclamation</h5><br><br>
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <label><b>Type de la réclamation :</b></label>
                        <div class="form-group">
                          <div class="form-line">
                            {{a.type}}
                          </div>
                          <hr>
                        </div>


                        <label><b>Description de la réclamation :</b></label>
                        <div class="form-group">
                          <div class="form-line">
                        {{a.description}}
                          </div>
                        </div>


                        <div class="modal-footer">
                          <button _ngcontent-vqj-c5="" style="width: 100px" class="btn-hover btn-border-radius color-4" (click)="TraiterReclamation(a.id)">Traiter</button>
                        </div>

                      </div>
                    </div>
                  </div>

                </tr>

                </tbody>

              </table>

            </div>
          </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
               aria-labelledby="formModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="padding-left: 150px" id="formModal"> Details de la réclamation  </h5><br><br>
                  <button type="button" class="close" data-dismiss="modal"
                          aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body"  *ngFor="let a of list">
                <div> {{a.description}}</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn-hover btn-border-radius color-4"

                          data-dismiss="modal">Cancel</button>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Exportable Table -->
  </div>
</section>

