<section class="content">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <!-- Modal d'ajout de publication : exampleModal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
               aria-labelledby="formModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="padding-left: 150px" id="formModal">Ajouter Seance </h5><br><br>
                  <button type="button" class="close" data-dismiss="modal"
                          aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <label>Titre de la séance</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                      <i class="material-icons">date_range</i>
                      </span>
                      <div class="form-line validate-input" data-validate="Le titre est est un champ obligatoire">
                        <input class="form-control date" type="text" name="titre" [(ngModel)]="seance.titre">
                        <span class="focus-input100"></span>
                      </div>
                    </div>

                    <label>Description de la séance</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                      <i class="material-icons">date_range</i>
                      </span>
                      <div class="form-line validate-input" data-validate="Le titre est est un champ obligatoire">
                        <input class="form-control date" type="text" name="description" [(ngModel)]="seance.description">
                        <span class="focus-input100"></span>
                      </div>
                    </div>

                    <label>Date debut</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                      <i class="material-icons">date_range</i>
                      </span>
                      <div class="form-line validate-input" data-validate="date est est un champ obligatoire">
                        <input class="form-control date" type="date" name="date_debut" [(ngModel)]="seance.date_debut">
                        <span class="focus-input100"></span>
                      </div>
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text" class="datetimepicker form-control"
                                 placeholder="Please choose date & time">
                        </div>
                      </div>
                    </div>

                    <label>Date fin</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                      <i class="material-icons">date_range</i>
                      </span>
                      <div class="form-line validate-input" data-validate="date est est un champ obligatoire">
                        <input class="form-control date" type="date" name="date_fin" [(ngModel)]="seance.date_fin">
                        <span class="focus-input100"></span>
                      </div>
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text" class="datetimepicker form-control"
                                 placeholder="Please choose date & time">
                        </div>
                      </div>
                    </div>


                    <b>Matieres</b>
                    <select class="custom-select" name="matiere" [(ngModel)]="seance.matiere">

                      <option type="text">mathematiques</option>
                      <option type="text">Physique</option>
                      <option type="text">Chimie</option>
                      <option type="text">Arabe</option>
                      <option type="text">Francais</option>
                      <option type="text">Anglais</option>
                      <option type="text">Informatique</option>

                    </select>

                    <b>Niveau</b>
                    <select class="custom-select" name="niveau" [(ngModel)]="seance.niveau">

                      <option type="text">1ére année</option>
                      <option type="text">2éme année</option>
                      <option type="text">3éme année</option>
                      <option type="text">4ére année</option>
                      <option type="text">5éme année</option>

                    </select>

                  </form>
                  <swal
                    #deleteSwal
                    title="Succes!"
                    message="This cannot be undone"
                    type="success"
                    (confirm)="RedirectForum()">
                  </swal>
                </div>
                <div class="modal-footer">
                  <button type="button" [swal]="deleteSwal" (click)="ajouterSeance()"
                          class="btn-hover btn-border-radius color-1">Ajouter
                  </button>
                  <button type="button" class="btn-hover btn-border-radius color-4"
                          data-dismiss="modal">Annuler
                  </button>

                </div>
              </div>
            </div>
          </div>
          <!-- Fin div de modal d'ajout de la publication -->
          <h1>
            <strong>Ajout </strong>Seance </h1>
          <button type="button" class="btn-hover btn-border-radius color-8 " data-toggle="modal"
                  data-target="#exampleModal">Ajouter une seance
          </button>
          <ul class="header-dropdown m-r--5">
            <li class="dropdown">
              <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#" onClick="return false;">Action</a>
                </li>
                <li>
                  <a href="#" onClick="return false;">Another action</a>
                </li>
                <li>
                  <a href="#" onClick="return false;">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <swal
          #deleteSwal
          title="Succes!"
          message="This cannot be done"
          type="success"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="afficherSeance()">
        </swal>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="card">
        <div class="header">
          <h2>
            <strong>Ajouter Seance</strong>
          </h2>
        </div>
        <div class="body">
          <button data-toggle="modal" data-target="#exampleModal">test</button>
          <div id='calendar' (click)="doAlert()"></div>
        </div>
      </div>
    </div>
  </div>
</section>
