/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import './custom-theme';
@import "~@ctrl/ngx-emoji-mart/picker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row:hover {
  background-color: lightgrey;
}
