/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import './custom-theme';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.search-div{
  margin: 10px;
}
.search-form-field{
  width: 30%;
  margin-left: 10px;
  padding: 5px 10px;

}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix{
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
  padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
  height: 32px;
  width: 32px;
}
