<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Portfolio</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Apps</a>
            </li>
            <li class="breadcrumb-item active">Portfolio</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="bootstrap snippet">
              <section id="portfolio" class="gray-bg padding-top-bottom">
                <!--==== Portfolio Filters ====-->
                <div class="categories">
                  <ul>
                    <li class="active">
                      <a data-filter="*">Toutes les categories</a>
                    </li>
                    <li>
                      <a data-filter=".Ventes">Ventes</a>
                    </li>
                    <li>
                      <a data-filter=".Offres">Offres</a>
                    </li>
                    <li>
                      <a data-filter=".Dons">Dons</a>
                    </li>
                  </ul>
                </div>
                <!-- ======= Portfolio items ===-->
                <div class="projects-container scrollimation in">
                  <div class="row">
                    <article *ngFor="let annonce of ListAnnonce " class="col-md-4 col-sm-6 portfolio-item {{annonce.categorie}}">
                    <div class="portfolio-thumb in"  style="box-shadow: 0 2px 8px rgba(202, 200, 200, 0.85)">
                        <a [routerLink]="['/annonce/show/', annonce.id]" class="main-link">
                          <img class="img-responsive img-center" src="assets/images/upload/uploadAnnonce/{{annonce.photo}}" alt="">
                          <span class="project-title">{{annonce.titre}}<br>
                          {{annonce.prix}} DT</span>
                          <span class="overlay-mask" style="background-color: #0000009e"></span>
                        </a>
                        <a class="link centered" href=""></a>
                      </div>
                    </article>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Browser Usage -->
    </div>
  </div>
</section>
