<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">La liste des Quizs</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Liste des</strong> Quizs</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right" style="border-radius:10px;">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="container" style="margin-bottom: 20px;">
            <mat-form-field FloatLabel="auto" >
              <mat-label>Recherche</mat-label>
              <input matInput type="special"  (keyup)="applyFilter($event.target.value)" name="value" [(ngModel)]="value">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <div >
              <table class="table" mat-table [dataSource]="dataSource"  matSort >

                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Quiz</th>
                  <td mat-cell *matCellDef="let row">{{row.nomQuiz}}</td>
                </ng-container>

                <!-- Prenom Column -->
                <ng-container matColumnDef="nomProf">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Prof</th>
                  <td mat-cell *matCellDef="let row">{{row.id_prof.nom}} {{row.id_prof.prenom}}</td>
                </ng-container>


                <ng-container matColumnDef="progressbar">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let row"><div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped width-per-60"
                         role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                      <span class="sr-only">60% Complete (warning)</span>
                    </div>
                  </div></td>
                </ng-container>

                <!-- Prenom Column -->
                <ng-container matColumnDef="list">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let row">
                    <!--<button type="button"  (click)='startTimer()' class="btn-hover btn-border-radius color-8 " data-toggle="modal"
                            data-target="#exampleModal" (click)="getQuizId(row)">Passer ce Quiz</button> -->
                    <a [routerLink]="['/etudiant/takequizs']"><button class="btn btn-success" (click)='startTimer()' (click)="getQuizId(row)" (click)="beginQuiz()" > Passer ce Quiz </button></a>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
