
<section class="content">
  <div class="container-fluid">
<!-- Horizontal Layout -->
<!-- <div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">

      <div class="body">

      </div>
    </div>
  </div>
</div> -->
    <!-- Basic Example | Horizontal Layout -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>Ajouter
              <strong>Quiz</strong></h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
              <aw-wizard-step [stepTitle]="'Etape 1 : Quiz'">
                <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
                <div class="centered-content">
                  <div>
                    <form class="form-horizontal validate-form">
                      <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="nomQuiz">Nom</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                          <div class="form-group">
                            <div class="form-line">
                              <input type="text" id="nomQuiz" class="form-control"
                                     placeholder="Entrer le nom du Quiz" name="nomQuiz" [(ngModel)]="quiz.nomQuiz">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                        </div>

                        <div class="text-right">
                          <button type="submit" *ngIf="retour" class="btn-hover btn-border-radius color-8" awNextStep (click)="ajouterQuiz()">Ajouter</button>
                          <button *ngIf="!retour" class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                        </div>
                      </div>
                    </form>

                  </div>

                </div>
              </aw-wizard-step>
                  <aw-wizard-step [stepTitle]="'Question 1'">
                    <ng-template awWizardStepSymbol><i class="fa fa-file-code"></i></ng-template>
                    <div class="centered-content">
                      <div>
                        <form>
                          <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="question">Question 1 :</label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                <div class="form-line">
                                  <input type="text" id="question" class="form-control"
                                         placeholder="Entrer la question" name="question" data-ng-model="q" [(ngModel)]="question1.question">

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row clearfix">

                            <table>

                              <tr >
                                <td class="reponse"><label for="reponse1" >Reponse 1 :</label></td>
                                <td>
                                <label>
                                  <input type="checkbox" class="filled-in" name="status1" [(ngModel)]="reponse11.status"  />
                                  <span></span>
                                </label>
                              </td>
                                <td class="reponsetext"> <input type="text" id="reponse1" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                                placeholder="Entrer la reponse" name="reponse1" [(ngModel)]="reponse11.reponse"></td>
                              </tr>
                              <tr >
                                <td class="reponse"><label for="reponse2" >Reponse 2 :</label></td>
                                <td>
                                  <label>
                                    <input type="checkbox" class="filled-in" name="status2" [(ngModel)]="reponse12.status"   />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="reponsetext"> <input type="text" id="reponse2" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                                placeholder="Entrer la reponse" name="reponse2" [(ngModel)]="reponse12.reponse"></td>
                              </tr>
                              <tr >
                                <td class="reponse"><label for="reponse3" >Reponse 3 :</label></td>
                                <td>
                                  <label>
                                    <input type="checkbox" class="filled-in" name="status3" [(ngModel)]="reponse13.status"  />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="reponsetext"> <input type="text" id="reponse3" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                                placeholder="Entrer la reponse" name="reponse3" [(ngModel)]="reponse13.reponse"></td>
                              </tr>
                            </table>
                          </div>
                        </form>
                      </div>

                      <div class="text-right">
                        <button type="submit" *ngIf="retour1" class="btn-hover btn-border-radius color-8" awNextStep (click)="ajouterQuestion1()">Ajouter Question</button>

                        <button *ngIf="!retour1" class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                      </div>
                    </div>
                  </aw-wizard-step>
              <aw-wizard-step [stepTitle]="'Question 2'">
                <ng-template awWizardStepSymbol><i class="fa fa-file-code"></i></ng-template>
                <div class="centered-content">
                  <div>
                    <form>
                      <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="question2">Question 2 :</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                          <div class="form-group">
                            <div class="form-line">
                              <input type="text" id="question2" class="form-control"
                                     placeholder="Entrer la question" name="question2" data-ng-model="q" [(ngModel)]="question2.question">

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row clearfix">

                        <table>

                          <tr >
                            <td class="reponse"><label for="reponse21" >Reponse 1 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status21" [(ngModel)]="reponse21.status" />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse21" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse21" [(ngModel)]="reponse21.reponse"></td>
                          </tr>
                          <tr >
                            <td class="reponse"><label for="reponse22" >Reponse 2 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status22" [(ngModel)]="reponse22.status"   />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponse"> <input type="text" id="reponse22" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse22" [(ngModel)]="reponse22.reponse"></td>
                          </tr>
                          <tr >
                            <td class="reponse"><label for="reponse23" >Reponse 3 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status23" [(ngModel)]="reponse23.status"  />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse23" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse23" [(ngModel)]="reponse23.reponse"></td>
                          </tr>
                        </table>
                      </div>
                    </form>
                  </div>

                  <div class="text-right">
                    <button type="submit" *ngIf="!retour1"  class="btn-hover btn-border-radius color-8" awNextStep (click)="ajouterQuestion2()">Ajouter Question</button>

                    <button *ngIf="retour1" class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-step [stepTitle]="'Question 3'">
                <ng-template awWizardStepSymbol><i class="fa fa-file-code"></i></ng-template>
                <div class="centered-content">
                  <div>
                    <form>
                      <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="question">Question 3 :</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                          <div class="form-group">
                            <div class="form-line">
                              <input type="text" id="question" class="form-control"
                                     placeholder="Entrer la question" name="question" data-ng-model="q" [(ngModel)]="question3.question">

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row clearfix">

                        <table>

                          <tr >
                            <td class="reponse"><label for="reponse1" >Reponse 1 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status1" [(ngModel)]="reponse31.status"  />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse1" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse1" [(ngModel)]="reponse31.reponse"></td>
                          </tr>
                          <tr >
                            <td class="reponse"><label for="reponse2" >Reponse 2 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status2" [(ngModel)]="reponse32.status"   />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse2" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse2" [(ngModel)]="reponse32.reponse"></td>
                          </tr>
                          <tr >
                            <td class="reponse"><label for="reponse3" >Reponse 3 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status3" [(ngModel)]="reponse33.status"  />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse3" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse3" [(ngModel)]="reponse33.reponse"></td>
                          </tr>
                        </table>
                      </div>
                    </form>
                  </div>

                  <div class="text-right">
                    <button type="submit" *ngIf="retour1" class="btn-hover btn-border-radius color-8" awNextStep (click)="ajouterQuestion3()">Ajouter Question</button>

                    <button *ngIf="!retour1" class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-step [stepTitle]="'Question 4'">
                <ng-template awWizardStepSymbol><i class="fa fa-file-code"></i></ng-template>
                <div class="centered-content">
                  <div>
                    <form>
                      <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="question">Question 4 :</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                          <div class="form-group">
                            <div class="form-line">
                              <input type="text" id="question" class="form-control"
                                     placeholder="Entrer la question" name="question" data-ng-model="q" [(ngModel)]="question4.question">

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row clearfix">

                        <table>

                          <tr >
                            <td class="reponse"><label for="reponse1" >Reponse 1 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status1" [(ngModel)]="reponse41.status"  />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse1" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse1" [(ngModel)]="reponse41.reponse"></td>
                          </tr>
                          <tr >
                            <td class="reponse"><label for="reponse2" >Reponse 2 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status2" [(ngModel)]="reponse42.status"   />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse2" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse2" [(ngModel)]="reponse42.reponse"></td>
                          </tr>
                          <tr >
                            <td class="reponse"><label for="reponse3" >Reponse 3 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status3" [(ngModel)]="reponse43.status"  />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse3" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse3" [(ngModel)]="reponse43.reponse"></td>
                          </tr>
                        </table>
                      </div>
                    </form>
                  </div>

                  <div class="text-right">
                    <button type="submit" *ngIf="!retour1" class="btn-hover btn-border-radius color-8" awNextStep (click)="ajouterQuestion4()">Ajouter Question</button>

                    <button *ngIf="retour1" class="btn-hover btn-border-radius color-8" awNextStep>Next</button>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-step [stepTitle]="'Question 5'">
                <ng-template awWizardStepSymbol><i class="fa fa-file-code"></i></ng-template>
                <div class="centered-content">
                  <div>
                    <form>
                      <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="question">Question 5 :</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                          <div class="form-group">
                            <div class="form-line">
                              <input type="text" id="question" class="form-control"
                                     placeholder="Entrer la question" name="question" data-ng-model="q" [(ngModel)]="question5.question">

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row clearfix">

                        <table>

                          <tr >
                            <td class="reponse"><label for="reponse1" >Reponse 1 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status1" [(ngModel)]="reponse51.status"  />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse1" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse1" [(ngModel)]="reponse51.reponse"></td>
                          </tr>
                          <tr >
                            <td class="reponse"><label for="reponse2" >Reponse 2 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status2" [(ngModel)]="reponse52.status"   />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse2" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse2" [(ngModel)]="reponse52.reponse"></td>
                          </tr>
                          <tr >
                            <td class="reponse"><label for="reponse3" >Reponse 3 :</label></td>
                            <td>
                              <label>
                                <input type="checkbox" class="filled-in" name="status3" [(ngModel)]="reponse53.status"  />
                                <span></span>
                              </label>
                            </td>
                            <td class="reponsetext"> <input type="text" id="reponse3" class="form-control col-lg-10 col-md-10 col-sm-8 col-xs-7"
                                                            placeholder="Entrer la reponse" name="reponse3" [(ngModel)]="reponse53.reponse"></td>
                          </tr>
                        </table>
                      </div>
                    </form>
                  </div>


                </div>
                <div class="body">
                  <div class="row clearfix js-sweetalert">
                    <!-- #START# Basic Modal -->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                      <div class="text-right">
                        <button type="submit" data-toggle="modal"
                                data-target="#basicModal" *ngIf="retour1" class="btn-hover btn-border-radius color-8" awNextStep (click)="ajouterQuestion5()">Ajouter Question</button>

                      </div>
                      <div class="modal fade" id="basicModal" tabindex="-1" role="dialog"
                           aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Quiz ajouté</h5>
                              <button type="button" class="close" data-dismiss="modal"
                                      aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                             Quiz ajouté avec succés
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-info waves-effect" (routerLink)="['../quiz/ListQuiz']">Ok</button>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </aw-wizard-step>
            </aw-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

