
<section class="content">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">
          <h2>
            <strong>{{forum.titre}}</strong>
          </h2>
        </div>
        <div class="body">
          <div class="container">
            <div class="row">
              <div class="col-md-10">
                <ul class="left-timeline">
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span
                      class="hidden">25/12/2017</span>
                      <span class="large">Now</span></time>
                    <div class="left-icon"><img src="assets/images/user/user1.jpg" alt="">
                    </div>
                    <div class="left-label empty"> <span>No Activity</span> </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
