
<section class="content">
<div class="row clearfix">
  <!-- Customer Review -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="card">
      <div class="header">
        <h2>
          <strong>Publication</strong> details</h2>
      </div>
        <div class="review-block">
          <div class="row">
            <div class="review-img">
              <img src="assets/images/upload/uploadUser/{{forum.user.photo}}" style="width: 59px;margin-top: -17px;" alt="">
            </div>
            <div class="col">
              <h6 class="m-b-15">{{forum.user.prenom}} {{forum.user.nom}} <br>  <small _ngcontent-gdg-c3="" class="text-muted">{{forum.matiere}} / {{forum.niveau}}</small>
                <span class="float-right m-r-10 text-muted">{{forum.date | date: 'yyyy-MM-dd \' à \'hh:mm a'}}</span>
              </h6>
            <br>
              <h6 _ngcontent-gdg-c3="" class="b-b-primary text-primary" style="color: #0f74a8">{{forum.titre}}</h6>
              <p class="m-t-15 m-b-15 text-muted"><b>Description</b>: {{forum.description}}</p>
              <p class="m-t-15 m-b-15 text-muted">Matiére: {{forum.matiere}}</p>
              <p class="m-t-15 m-b-15 text-muted">Niveau: {{forum.niveau}}</p>

            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-12" >
    <div class="card">
      <div class="header">
        <h2>
          <strong>Publications</strong> récentes</h2>
      </div>
      <div class="body">
        <div class="card-block">
          <div class="row m-b-20" *ngFor="let publication of ListPublications;  let i=index">

            <div class="col-auto p-r-0">
              <img src="assets/images/posts/post1.jpg" alt="user image"
                   class="latest-posts-img">
            </div>

            <div class="col">
              <div *ngIf="i<5">
                <h6>{{publication.titre}}</h6>
                <p class="text-muted m-b-5">
                  <i class="fa fa-play-circle-o"></i>{{publication.date | date: 'yyyy-MM-dd \' à \'hh:mm a'}}</p>
                <p class="text-muted ">{{publication.matiere}}</p>
              </div>
            </div>

          </div>
          <div class="text-center">
            <a routerLink="/forum/list" class="b-b-primary text-primary">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #END# Customer Review -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="card"  >
      <div class="header">
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li>
                <a href="#" onClick="return false;">Action</a>
              </li>
              <li>
                <a href="#" onClick="return false;">Another action</a>
              </li>
              <li>
                <a href="#" onClick="return false;">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body">
        <div class="recent-comment">
          <div class="notice-board"  *ngFor="let comment of listCommentaires">
            <div class="table-img">
              <img class="notice-object" src="assets/images/upload/uploadUser/{{comment.user.photo}}" alt="..." style="width: 40px">
            </div>
            <div class="notice-body">
              <h6 _ngcontent-gdg-c3="" class="b-b-primary text-primary" style="color: #0f74a8">{{comment.user.prenom}} {{comment.user.nom}}</h6>
              <p>{{comment.contenu | emojify}}</p>
              <small class="text-muted">{{comment.date | date: 'yyyy-MM-dd'}} {{comment.date | date: 'h:mm a'}}</small>

              <br><br>
            </div>
            <hr>
            <br><br>

          </div>
          <hr>
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control"  id="textarea1" [(ngModel)]="contenu" placeholder="Enter text here.." />
              <br>
              <button
                type="button"
                class="toggle-emoji"
                (click)="toggleEmojiPicker()"
                style="background-color: transparent; border: none">
                <i class="fa fa-smile"></i>
              </button>
              <emoji-mart class="emoji-mart" set="emojione" (emojiSelect)="addEmoji($event)"
                          *ngIf="showEmojiPicker" title="Choisir votre emoji…"
                          [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"
                          [style]="{ position: 'absolute' }"></emoji-mart>
              <button type="button" class="btn btn-outline-default btn-border-radius" (click)="commenter()"
                      style="font-size: 10px">
                Commenter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</section>




