<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">La liste des Feedbacks</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Seances</a>
            </li>
            <li class="breadcrumb-item active">Feedbacks</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Liste des</strong> Feedbacks</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource.data">


              <!-- Nom Column -->
              <ng-container matColumnDef="Nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                <td mat-cell *matCellDef="let row">{{row.etudiant.nom}}</td>
              </ng-container>

              <!-- Prenom Column -->
              <ng-container matColumnDef="Prenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>prenom</th>
                <td mat-cell *matCellDef="let row">{{row.etudiant.prenom}}</td>
              </ng-container>

              <!-- email Column -->
              <ng-container matColumnDef="E-mail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
                <td mat-cell *matCellDef="let row">{{row.etudiant.email}}</td>
              </ng-container>

              <!-- Type Column -->
              <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>type</th>
                <td mat-cell *matCellDef="let row">{{row.type}}</td>
              </ng-container>

              <!-- Description Column -->
              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>description</th>
                <td mat-cell *matCellDef="let row">{{row.description}}</td>
              </ng-container>


              <!-- Matiere Column -->
              <ng-container matColumnDef="Matiere">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Matiere</th>
                <td mat-cell *matCellDef="let row">{{row.seances.matiere}}</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator

                           [pageIndex]="0"
                           [pageSize]="25"
                           [pageSizeOptions]="[25, 50, 100, 250]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
