<section class="content">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn-hover btn-border-radius color-8 " data-toggle="modal"
                    data-target="#exampleModal">Ajouter un feedback</button>
            <hr>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="formModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="padding-left: 150px" id="formModal">Nouveau Feedback </h5><br><br>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <label>Type du feedback</label>
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text" name="type" [(ngModel)]="feedback.type" class="form-control"
                                 placeholder="Entrer le type de votre feedback">
                        </div>
                      </div>

                      <label>Description</label>
                      <div class="form-group">
                        <div class="form-line">
                          <input class="form-control" type="text" name="description" [(ngModel)]="feedback.description" placeholder="Entrer la description de votre feedback">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" (click)="ajouterFeedback()" class="btn-hover btn-border-radius color-1">Ajouter</button>
                    <button type="button" class="btn-hover btn-border-radius color-4"
                            data-dismiss="modal">Fermer</button>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
