<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Events</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Events</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Draggable</strong> Events</h2>
          </div>
          <div class="body">
            <div id='external-events'>
              <form class="inline-form">
                <input type="text" value="" class="form-control" placeholder="Event Title..."
                       id="event_title" />
                <button type="button" id="event_add"  class="btn btn-primary waves-effect m-t-15">Add
                  Event
                </button>
              </form>
              <div id="event_box" class="mg-bottom-10">
                  <div #customevents class='fc-event'>Event 1</div>
              </div>
              <label>
                <input type="checkbox" id='drop-remove' />
                <span>remove after drop</span>
              </label>
              <button type="button" (click)="addEvent()" id="addEvent">test add event</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Events</strong>
            </h2>
          </div>
          <div class="body">

            <full-calendar
              *ngIf="options"
              #calendar
              [editable]="true"
              [header]="options.header"
              [customButtons]="options.customButtons"
              (dateClick)="dateClick($event)"
              (eventDragStop)="eventDragStop($event)"
              (eventReceive)="eventReceive($event)"
              [plugins]="options.plugins"
              (eventClick)="eventClick($event)"
              defaultView="dayGridMonth"
              [weekends]="true"
              [events]="calendarEvents"
              draggable="true"
            ></full-calendar>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  import * as FullCalendar from "@fullcalendar/core";
  import interactionPlugin, { Draggable } from '@fullcalendar/interaction';

  $(document).ready(function() {
    var Calendar = FullCalendar.Calendar;

    var Draggable = Draggable;

    var containerEl = document.getElementById('external-events');
    var calendarEl = document.getElementById('calendar');
    var checkbox = document.getElementById('drop-remove');

    // initialize the external events
    // -----------------------------------------------------------------

    new Draggable(containerEl, {
      itemSelector: '.fc_event',
      eventData: function (eventEl) {
        return {
          title: eventEl.innerText
        };
      }
    });
  })
</script>
